<header class="fixed-top">
  <div class="top-bar">
    <div class="container text-end text-white py-2">
      <p class="mb-0"><i class="bi bi-geo-alt-fill"></i> Surf City, La Libertad</p>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/header/sport.png" width="150px" class="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item">
            <a class="nav-link text-header" href="#Comercios">Comercios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-header" href="#Ubicacion">Ubicación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-header" href="#Contacto">Contacto</a>
          </li>
        </ul>
        <a href="https://waze.com/ul/hd42kwzjz9" type="button" class="btn btn-square-nav-header" target="_blank"
          rel="noopener noreferrer">
          <img src="./assets/img/vector/faWaze.svg" alt="Waze" />

        </a>
        <a class="btn" href="https://maps.app.goo.gl/cGjTUzCoxoATp4Vw8?g_st=com.google.maps.preview.copy"
          target="_blank" rel="noopener noreferrer">
          <img src="./assets/img/vector/faMapMarkerAlt.svg" alt="Google Maps" />
        </a>

      </div>
    </div>
  </nav>
</header>