<div class="container-fluid mt-5">

  <!--Section 1 start-->
  <div class="d-flex align-items-center min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h2 class="titleseccion1">Host Design Meeting From Anywhere</h2>
          <p class="margetextseccion1">Tu párrafo aquí. Este es un ejemplo de cómo puedes colocar texto en esta columna.
          </p>
          <div class="d-flex">
            <button type="button" class="btn btn-primary btn-square me-2">Botón 1 <i
                class="bi bi-arrow-right"></i></button>
            <button type="button" class="btn btn-outline-secondary btn-square">Botón 2</button>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-start">
          <img
            src="https://images.pexels.com/photos/1676914/pexels-photo-1676914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img-fluid rounded" alt="...">
        </div>
      </div>
    </div>
  </div>



  <!--Section 1 end-->
  <div id="containerScrollInfiteHome ">
    <div class="scrollerHome" data-direction="right" data-speed="slow" data-animated="true">
      <div class="scrollerHome__inner" style="animation-play-state: running;">
        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">
        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">
        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">
        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">
        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">
        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">
        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">


        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">
        <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt=""> <img
          src="https://media.istockphoto.com/id/1337232523/es/foto/vista-de-ángulo-alto-de-un-lago-y-un-bosque.jpg?s=2048x2048&w=is&k=20&c=ohPNTFlDn-ARAawgnbCzIOzWMadL82fUe6qc92Los_k="
          alt="">
      </div>
    </div>
  </div>


  <!--Section 2 start-->
  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1">
          <div class="card-body text-start">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed.
              Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar.</p>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end order-2">
          <img
            src="https://images.pexels.com/photos/1676914/pexels-photo-1676914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img-fluid rounded" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!--Section 2 end-->

  <!--Section 3 start-->
  <div class="align-items-center justify-content-center margenGlobal seccion-5">
    <div class="my-5 margenGlobal">
      <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-sm-6 d-flex justify-content-start align-items-center order-2 order-sm-1 ">
          <img
            src="https://images.pexels.com/photos/1676914/pexels-photo-1676914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img-fluid rounded" alt="...">
        </div>
        <!-- Columna para el texto -->
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1 order-sm-2">
          <div class="card-body">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed.
              Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 3end-->


</div>

<div class="fondoconteni d-flex  flex-column align-items-center justify-content-center min-vh-100 ">
  <div class="text-center my-5 margintopContenido ">
    <h2 class="textsecicion4subtilecontenido">
      Lorem ipsum dolor sit amet, molestie mattis.
    </h2>

    <p class="textsecicion4textcontenido">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum amet at molestie mattis.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum amet at molestie mattis.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum amet at molestie mattis.
    </p>
    <img
      src="https://images.pexels.com/photos/1676914/pexels-photo-1676914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="img-fluid" alt="...">
  </div>
</div>



<div class="container-fluid mt-5">

  <!--Section 4 start-->
  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <p class="text-center textsecicion2title">Caption</p>
      <h2 class="text-center textsecicion2subtile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Bibendum amet at molestie mattis.</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
        <div class="col">
          <div class="card h-100">
            <img
              src="https://images.pexels.com/photos/1676914/pexels-photo-1676914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="img-fluid" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img
              src="https://images.pexels.com/photos/1676914/pexels-photo-1676914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="img-fluid" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img
              src="https://images.pexels.com/photos/1676914/pexels-photo-1676914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="img-fluid" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="https://images.pexels.com/photos/1676914/pexels-photo-1676914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="img-fluid" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 4 end-->
</div>



<!--Section 5 start-->
<div class="fondoTestimonio">
  <div class="align-items-center justify-content-center margenGlobal mb-3">
    <div class="my-5 margenGlobal">
      <div class="row text-center">
        <div class="col-md-12">
          <!-- Carousel wrapper -->
          <div id="carouselBasicExample" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <!-- Inner -->
            <div class="carousel-inner">
              <!-- Carousel items grouped by 2 -->
              <div class="carousel-item active">
                <div class="row gx-5">
                  <div class="col-md-6 d-flex justify-content-center">
                    <div class="testimonial">
                      <div class="mt-5 mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                          class="rounded-circle img-fluid shadow-1-strong" alt="sample image" width="100" height="100" />
                      </div>
                      <p class="text-muted mb-0">- Anna Morian</p>
                      <p class="lead font-italic mx-4 mx-md-5">
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                        numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 d-flex justify-content-center">
                    <div class="testimonial">
                      <div class="mt-5 mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                          class="rounded-circle img-fluid shadow-1-strong" alt="sample image" width="100" height="100" />
                      </div>
                      <p class="text-muted mb-0">- Teresa May</p>
                      <p class="lead font-italic mx-4 mx-md-5">
                        "Neque cupiditate assumenda in maiores repudiandae mollitia adipisci maiores
                        repudiandae mollitia consectetur adipisicing architecto elit sed adipiscing
                        elit."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single item -->
              <div class="carousel-item">
                <div class="row gx-5">
                  <div class="col-md-6 d-flex justify-content-center">
                    <div class="testimonial">
                      <div class="mt-5 mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                          class="rounded-circle img-fluid shadow-1-strong" alt="sample image" width="100" height="100" />
                      </div>
                      <p class="text-muted mb-0">- Kate Allise</p>
                      <p class="lead font-italic mx-4 mx-md-5">
                        "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur est laborum neque cupiditate assumenda in
                        maiores."
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 d-flex justify-content-center">
                    <div class="testimonial">
                      <div class="mt-5 mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                          class="rounded-circle img-fluid shadow-1-strong" alt="sample image" width="100" height="100" />
                      </div>
                      <p class="text-muted mb-0">- Anna Morian</p>
                      <p class="lead font-italic mx-4 mx-md-5">
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                        numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carousel wrapper -->
        </div>
      </div>
    </div>
  </div>
</div>



<!--Section 5 end -->

<!--Section 6 start -->

<div class="container-fluid">
  <div class="align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="container my-5">
        <div class="row align-items-center">
          <div class="col-md-7">
            <div class="caption">CAPTION</div>
            <h1 class="display-5 acciontitle">Bibendum amet at molestie mattis.</h1>
            <p class="lead">Rhoncus morbi et augue nec, in id ullamcorper at sit.</p>
          </div>
          <div class="col-md-4 d-flex  text-md-end">
            <button type="button" class="btn btn-outline-primary me-2 btn-square">Secondary Action</button>
            <button type="button" class="btn btn-primary btn-square">Primary Action</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Section 6 end -->

<!--Section 7 end -->

<div class="container-fluid mt-4 footer">
  <div class="container">
    <footer class="d-flex flex-column flex-md-row flex-wrap justify-content-between align-items-center">
      <br> <br> <br> <br>
      <p class="mb-0 text-body-secondary order-1 order-md-1">Logoooooo</p>

      <ul class="nav justify-content-center centertextfootter order-3 order-md-2 mt-3 mt-md-0">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
      </ul>

      <ul class="nav justify-content-end icontfooter order-4 order-md-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-instagram "></i></a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-facebook "></i></a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-whatsapp "></i></a>
        </li>
      </ul>
    </footer>
    <div class="d-flex justify-content-center mt-3 order-2 order-md-4">
      <p class="mb-0 text-body-secondary text resevafooter">© 2024 Company, Inc</p>
    </div>
    <br>
  </div>
</div>




<router-outlet />