<app-header></app-header>


<div class="container-fluid mt-5 prinipal">
  <br>
  <br> <br>
  <br>
  <br>
  <!--Section 1 start-->
  <!--Section 1 start-->
  <div class="prinipal align-items-center justify-content-center margenGlobal">

    <div class="my-5 margenGlobal ">
      <div class="row ">
        <div class="col-md-6 d-flex flex-column justify-content-center ">
          <h2 class="titleseccion1">Venite de una vez al spot donde hay de todo.</h2>
          <p class="margetextseccion1">The Spot es el centro comercial donde podés encontrar todo lo que
            necesitas en un solo lugar. Desde la carne para el asado hasta la compañía de internet para
            tu casa de playa.
          </p>
          <div class="d-flex">
            <button type="button" class="btn btn-primary btn-square me-2">Waze <i
                class="bi bi-arrow-right"></i></button>
            <button type="button" class="btn btn-outline-secondary btn-square">Google Maps</button>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <div class="image-container">
            <img src="./assets/img/content/ubicacion-the-spot.jpg" class="img-fluid rounded custom-dimensions"
              alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br> <br>

  <div class="container-scroll-infinite-home">
    <ngx-slick-carousel class="scroller-home" #slickModal="slick-carousel" [config]="slideConfig2">   <br>
      <div ngxSlickItem *ngFor="let logo of logos" class="scroller-home__inner logocarruel">
        <img [src]="logo" alt="" />
      </div>
    </ngx-slick-carousel>
  </div>

  <!--Section 1 end-->

  <br> <br>

</div>

<div class="container-fluid mt-2">
  <!--Section 2 start-->
  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1">
          <div class="card-body text-start">
            <h2 class="titleseccion2">Nuestros comercios:</h2>
            <p class="textseccion2">Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros
              En The Spot, contamos con una amplia variedad de comercios para satisfacer todas tus necesidades. Conocé
              algunos de nuestros principales establecimientos:
            </p>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end order-2">
          <img src="./assets/img/content/ubicacion-the-spot.jpg" class="img-fluid rounded custom-dimensions" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!--Section 2 end-->

  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem class="slide px-2" *ngFor="let comercio of comercios; trackBy: trackByFn">
          <div class="card" style="width: auto; ">
            <img [src]="comercio.img" class="card-img-top" alt="{{ comercio.nombre }}">
            <div class="card-body">
              <h5 class="card-title" style="height: 24px;">{{ comercio.nombre }}</h5>
              <p class="text-start" style="height: 79px;">{{ comercio.descripcion }}</p>
              <a [href]="comercio.link" class="btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>



  <!---->

  <div class="align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="card" style="width: auto">
          <img class="card-img-top" src="./assets/img/bank/banco-01.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-title text-start">Cajero Banco Cuscatlan</p>
          </div>
        </div>
        <div class="card" style="width: auto;">
          <img class="card-img-top"  src="./assets/img/bank/banco-02.jpg"  alt="Card image cap">
          <div class="card-body">
            <p class="card-title text-start">Cajero Banco Hipotecario</p>
          </div>
        </div>
        <div class="card" style="width: auto;">
          <img class="card-img-top"  src="./assets/img/bank/banco-03.jpg"  alt="Card image cap">
          <div class="card-body">
            <p class="card-title text-start">Cajero Athena Botcoin</p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--Section 3 start-->
  <div class="align-items-center justify-content-center margenGlobal seccion-5">
    <div class="my-5 margenGlobal">
      <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-sm-6 d-flex justify-content-start align-items-center order-2 order-sm-1 ">
          <img src="./assets/img/content/ubicacion-the-spot.jpg" class="img-fluid rounded custom-dimensions"
              alt="...">
        </div>
        <!-- Columna para el texto -->
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1 order-sm-2">
          <div class="card-body">
            <h2 class="titleseccion3">Ubicación</h2>
            <p class="textseccion3">Estamos ubicados a unos metros posterior al redondel Surf City en dirección a San Blas. Con fácil acceso y amplio estacionamiento</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 3end-->

  <!--Section 4 start-->
  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1">
          <div class="card-body text-start">
            <h2 class="titleseccion2">¿Buscas un local?</h2>
            <p class="textseccion2">Si deseas conocer la disponibilidad de locales, puedes contactarnos al: 7854-8869.</p>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end order-2">
          <img
            src="https://images.unsplash.com/photo-1512533950509-505f6af353de?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D=1"
            class="img-fluid rounded" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!--Section 4 end-->


</div>





<app-footer></app-footer>
<router-outlet />