<div class="container-fluid mt-5">

  <!--Section 1 start-->
  <div class="d-flex align-items-center justify-content-center ">
    <div class="container">
      <div class="row g-0 ">
        <div class=" card-text p-4">
          <div>
            <h3 class="card-title pricipaltext">Pricing</h3>
            <h2 class="segundaritext">Bibendum amet at molestie mattis.</h2>
            <div class="container_pricnital">
              <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed.
                Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar.
                Ferrentum scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus iaculis.</p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center seccion-1-button">
              <button class="btn btn-primary me-md-2" type="button">Primary Action</button>
              <button class="btn btn-outline-secondary" type="button">Secondary Action</button>
            </div>
            <div class="card-img">
              <img src="https://via.placeholder.com/600x400" class="img-fluid principalImage" alt="Placeholder image">
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!--Section 1 end-->



  <!--Section 2 start-->
  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1">
          <div class="card-body text-start">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed.
              Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar.</p>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end order-2">
          <img src="https://via.placeholder.com/600x400" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!--Section 2 end-->

  <!--Section 3 start-->
  <div class="align-items-center justify-content-center margenGlobal seccion-5">
    <div class="my-5 margenGlobal">
      <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-sm-6 d-flex justify-content-start align-items-center order-2 order-sm-1 ">
          <img src="https://via.placeholder.com/600x400" class="img-fluid" alt="...">
        </div>
        <!-- Columna para el texto -->
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1 order-sm-2">
          <div class="card-body">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed.
              Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 3end-->

  <!--Section 4 start-->
  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <p class="text-center textsecicion2title">Caption</p>
      <h2 class="text-center textsecicion2subtile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Bibendum amet at molestie mattis.</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
        <div class="col">
          <div class="card h-100">
            <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 4 end-->



</div>
<!--Section 5 start-->
<div class="fondoTestimonio">
  <div class=" align-items-center justify-content-center margenGlobal mb-3 ">
    <div class="my-5 margenGlobal">



    </div>
  </div>
</div>
<!--Section 5 end -->

<!--Section 6 start -->

<div class="container-fluid">

</div>

<!--Section 6 end -->



<!--Section 7 end -->

<div class="container-fluid mt-4 footer">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center">
      <p class="mb-0 text-body-secondary">Logoooooo</p>

      <ul class="nav justify-content-center centertextfootter">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
      </ul>

      <ul class="nav justify-content-end icontfooter">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-instagram"></i></a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-facebook"></i></a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-whatsapp"></i></a>
        </li>
      </ul>
    </footer>
    <div class="d-flex justify-content-center mt-3">
      <p class="mb-0 text-body-secondary text resevafooter">© 2024 Company, Inc</p>
    </div>
  </div>
</div>



<router-outlet />