.margenGlobal {
    margin: 50px;
    /* margin-top: 90px;*/
}

.backpadi {
    margin: 50px;
    margin-top: -110px !important;
}

.navbar {
    padding: 16px 80px;
}

nav {
    border-bottom: 1px solid #FDC301;
}

a {
    text-decoration: none !important;
}



.top-bar {
    background-color: #1E192B;
}

.btn-link {
    color: #BB6C02 !important;
    font-weight: 500;
}

.top-bar p {
    margin-bottom: 0;
    color: #ffffff;
}


.btn-primary {
    background: #E19800 !important;
    border-color: #E19800 !important;
}

.btn-outline-secondary {
    background-color: #FFF4ED;
    color: #C41E0A;
    border-color: #C41E0A;
}

.btn-outline-secondary:hover {
    background-color: #C41E0A;
    color: #FFF4ED;
    border-color: #C41E0A;
}

.btn-outline-primary {
    background-color: #FFF4ED;
    color: #C41E0A;
    border-color: #C41E0A;
}

.btn-outline-primary:hover {
    background-color: #C41E0A;
    color: #FFF4ED;
    border-color: #C41E0A;
}

.prinipal {
    background: #FFFEEA;
}

.prinipaltop {
    margin-top: 180px !important;
}


.secion-1 {
    margin-top: 105px;
}

.btn-separado {
    margin-right: 1rem;
}

.pricipaltext {
    margin-top: 95px;
    font-weight: 700;
}

.titleseccion1 {
    font-weight: 700;
    font-size: 52px;
}

.titleseccion1text {
    color: #595B5B;
}


.image-vector-palm {
    margin-top: -280px;
}

.secction1-vector-palm {
    width: 320px;
    margin-bottom: -50px;
}

.Secction1seagull1 {
    margin-top: 50px;
}

.Secction1seagull {
    margin-right: 95px;
}

.image-vector-Secction1seagull2 {
    margin-top: 40px;

}

.secction1-vector-seagull2 {
    width: 90px;
}


.seccion1Contet {
    z-index: 5;
    margin-top: -100px;
}


.margetextseccion1,
.margetextseccion2,
.margetextseccion3 {
    margin-top: 35px;
}


.segundaritext {
    font-weight: 700;
}

.container_pricnital {
    width: 900px;
}




/*Imagen principal*/

.principalImage {
    width: 900px;
    height: 600px;
}

/*
.pricipal {
    margin-top: 90px;
}
*/
.full-height-card {
    height: 85vh;
}

.custom-dimensions {

    object-fit: cover;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCard {
    width: 100%;
    height: 50%;
}

.seccion-1-button {
    margin-top: 35px;
    margin-bottom: 35px;
}


/*section 2*/

.textsecicion2title {
    font-weight: 700;
    font-size: 20px;
}

.textsecicion2subtile {
    margin-top: -15px;
    font-weight: 700;
    font-size: 42px;
}

.titleseccion2,
.titleseccion3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 46.2px;
    margin-bottom: 30px;
}

.textseccion2,
.textseccion3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}

/*seccion 3*/

/**/

.textsecicion4subtilecontenido {
    margin-top: 35px;
    font-weight: 700;
    font-size: 42px;
}

.textsecicion4textcontenido {
    width: 60%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 65px;
}

.fondoconteni {
    background: #FFFCC5;
}

.margintopContenido {
    margin: 15px;
}

/*
.margintopContenido {
    margin-top: 165px;
}
*/

/**/
/*testimonio*/

.carousel-inner {
    width: auto;
    justify-content: center;
    margin: 0 auto;
}

.carousel-item {
    text-align: center;
    background: #FFE31C;
    height: auto !important;
}

.fondoTestimonio {
    padding: 35px;
    background: #FFE31C;
}

.carousel-control-next {
    right: 39px;
}

.carousel-control-prev {
    left: 39px;
}

.testimonial {
    width: 90%;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
}

/**/

.btn-square {
    border-radius: 0 !important;
    padding: 0 16px 0 16px;
    width: 172px;
    height: 48px;
}

.btn-square-nav {
    margin-left: 35px;
    border-radius: 0 !important;
    padding: 0 16px 0 16px;
    width: 152px;
    height: 48px;
}

.btn-square-nav-header {
    margin-left: 25px;
}

.acciontitle {
    font-weight: 700;
    font-size: 42px;
}

.text-header {
    font-weight: 400;
    font-size: 16px;
    color: #43494C;
}


/*footer*/
.footer {
    height: auto;
    background: #482300;
}

.margenfooterlogo {
    margin-right: 45px;
}


.footer p,
.footer a,
.footer i {
    color: #fff !important;
}

.icontfooter .bi {
    font-size: 1.2rem;
}

.footer ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.centertextfootter {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icontfooter {
    display: flex;
    justify-content: flex-end;
}

.bg-image {
    background-image: url('./assets/img/vector/section-ubicacion-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.seccion5texttitle {
    font-size: 42px;
    font-weight: 700;
    color: #21272A;
}

.seccion5textcontent {
    font-size: 18px;
    font-weight: 400;
    color: #414343;
}

.contentSecction5 {
    padding: 60px;
}

.btn-section5 {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    width: 188px;
    padding: 12px 16px 12px 16px;
    background-color: #E19800;
}

.section6 {
    height: auto;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #7C440B;
}

.titleseccion6 {
    font-size: 42px;
    font-weight: 700;
    color: #FFFCC5;
}

.textseccion6 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.roundedPersonali {
    border-radius: 30px 30px 0 0;
}

.image-vector-palmSeccion6 {
    margin-top: -399px;
}

.secction6-vector-palm {
    width: 120px;
}

/*

.slick-prev,
.slick-next {
    display: none !important;
}

.custom-prev,
.custom-next {
    z-index: 100;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}


.custom-prev {
    left: -30px;
}

.custom-next {
    right: -30px;
}

*/


.slick-prev,
.slick-next {
    display: none !important;
}

.custom-prev,
.custom-next {
    z-index: 100;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}


.custom-prev {
    left: -30px;
}

.custom-next {
    right: -30px;
}

.custom-prev .carousel-control-prev-icon {
    background-image: none;
    border: 1px solid #273B80;
    background-color: #273B80;
}

.custom-next .carousel-control-next-icon {
    background-image: none;
    border: 1px solid #273B80;
    background-color: #273B80;
}




@media (max-width: 1200px) {


    .btn-square {
        width: auto;
    }

    .margenGlobal,
    .backpadi {
        margin: 25px;
    }

    .backpadi {

        margin-top: -60px !important;
    }

    .titleseccion2,
    .titleseccion3 {
        font-size: 39px;
        margin-bottom: 25px;
        line-height: 37.2px;
    }

    .textseccion2,
    .textseccion3 {
        font-size: 15px;
        line-height: 22px;
    }


    .margenfooterlogo {
        margin-right: 35px;
    }

    .bank {
        object-fit: contain !important;
        width: 100%;
        height: auto;
    }

    .secction1-vector-palm {
        width: 250px;
        margin-bottom: -50px;
    }


}

.bank {
    object-fit: contain;
    height: auto;
}

@media (max-width: 967.98px) {

    .image-vector-palm {
        margin-top: -200px;
    }

    .secction1-vector-palm {
        width: 200px;
        margin-bottom: -50px;
    }

    .Secction1seagull {
        margin-right: 55px;
    }

}


@media (max-width: 767.98px) {

    .resposenone {
        display: none;
    }

    .secction1-vector-palm {
        width: 250px;
        margin-bottom: -50px;
    }

    .card-body {
        flex-direction: column;
    }

    .principalImage {
        width: auto;
        height: auto;
    }

    .container_pricnital {
        width: auto;
    }

    .textsecicion4textcontenido {
        width: 80%;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 55px;
    }

    .btn-square {
        padding: 0 16px 0 16px;
        width: 149px;
        height: 48px;
        margin-bottom: 45px;
    }

    .secion-1 {
        margin-bottom: 95px !important;
    }

    .margenGlobal,
    .backpadi {
        margin: 20px;
    }

    .btn-square-nav {
        margin-left: 0px;
        margin-top: 15px;
    }

    .footer {
        height: auto;
    }


    .titleseccion2,
    .titleseccion3 {
        font-size: 33px;
        margin-bottom: 33px;
        line-height: 30.2px;
    }

    .textseccion2,
    .textseccion3 {
        font-size: 16px;
        line-height: 20px;
    }


    .margenfooterlogo {
        margin-right: 25px;
    }

    .custom-dimensions {
        margin-bottom: 45px;
    }

    .bank {
        width: 350px;
    }

    .seccion5texttitle {
        font-size: 41px;
        font-weight: 700;
        color: #21272A;
    }

    .seccion5textcontent {
        font-size: 18px;
        font-weight: 400;
        color: #414343;
    }


    .btn-section5 {
        font-size: 18px;
        width: 178px;
    }



    .titleseccion6 {
        font-size: 39px;
        font-weight: 700;
        color: #FFFCC5;
    }

    .textseccion6 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
    }


    .image-vector-palmSeccion6 {
        margin-top: -390px;
    }

    .secction6-vector-palm {
        width: 120px;
    }

}

@media (max-width: 500px) {
    .titleseccion1 {
        font-weight: 700;
        font-size: 45px;
    }

    .titleseccion1text {
        font-size: 17.2px;
    }

    .secction1-vector-palm {
        width: 220px;
    }

    .image-vector-palm {
        margin-top: -52px;
    }

    .Secction1seagull {
        margin-right: 5px;
    }

    .image-vector-Secction1seagull2 {
        margin-bottom: 110px;
    }


    .slick-dots {
        position: absolute;
        bottom: -65px !important;
    }

    .slick-slide {
        margin: 0 5px;
    }

    .backpadi {
        margin: -2px;
        margin-top: 140px;
    }

    .custom-dimensions {
        object-fit: cover;
        width: 100%;
        height: 230px;
        margin-bottom: 35px;
    }

    .pricipal {
        margin-top: 150px !important;
    }

    .carousel-inner {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    .carousel-item {
        text-align: center;
        height: 450px !important;
    }

    .carousel-control-next {
        right: -40px;
    }

    .carousel-control-prev {
        left: -40px;
    }

    .lead {
        font-size: 15px;
    }

    .margenGlobal {
        margin: 2px;
    }

    .seccion-5 {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .imgCard {
        width: 100%;
        height: 80%;
    }

    .textsecicion4textcontenido {
        width: 90%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .navbar {
        padding: 15px;
    }

    /*seciotn 2 */


    .textsecicion2title {
        font-size: 15px;
    }

    .textsecicion2subtile {
        font-weight: 700;
        font-size: 30px;
    }

    .secion-1 {
        margin-top: 95px;
    }

    .acciontitle {
        font-size: 35px;
    }


    .titleseccion2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .titleseccion3 {
        font-size: 30px;
        margin-bottom: 65px;
    }
  

    .textseccion2,
    .textseccion3 {
        font-size: 14px;
        margin-bottom: -45px;
    }

    /*testimonio*/

    .bank {
        width: 300px;
    }


    .seccion5texttitle {
        font-size: 40px;
        font-weight: 700;
        color: #21272A;
    }

    .seccion5textcontent {
        font-size: 17px;
        font-weight: 400;
        color: #414343;
    }


    .btn-section5 {
        font-size: 18px;
        width: 178px;
    }

    .titleseccion6 {
        font-size: 39px;
        font-weight: 700;
        color: #FFFCC5;
    }

    .textseccion6 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
    }


    .image-vector-palmSeccion6 {
        margin-top: -390px;
    }

    .secction6-vector-palm {
        width: 120px;
    }



}




/**/


.logocarruel img {
    width: 200px;
    height: 100px;
    margin-right: 0;
    object-fit: contain;
}


.container-scroll-infinite-home {
    margin-top: 50px;
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.scroller-home {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}